<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:rim="http://www.blackberry.com/ns/widgets"
        version="1.0.0" id="ibantayph">
  <author href=""
          rim:copyright="">Gordon College CCS</author>

  <name>iBantay</name>

  <description>
    iBantay!
  </description>

  <feature id="blackberry.system"/>
  <feature id="blackberry.invoke.card" />
  <feature id="blackberry.ui.toast"/>
  <feature id="blackberry.ui.dialog"/>
  
  <feature id="blackberry.app">
    <param name="orientation" value="portrait" />
	<param name="formControl" value="disable" />
  </feature>

  <content src="index.html" />

  <icon src="images/icon-150.png"/>
  
	<icon src="images/icon-150.png" gap:platform="android" gap:density="ldpi" />
	<icon src="images/icon-150.png" gap:platform="android" gap:density="mdpi" />
	<icon src="images/icon-150.png" gap:platform="android" gap:density="hdpi" />
	<icon src="images/icon-150.png" gap:platform="android" gap:density="xhdpi" />

	<gap:splash src="images/splash.png" gap:platform="android" gap:density="ldpi" />
	<gap:splash src="images/splash.png" gap:platform="android" gap:density="mdpi" />
	<gap:splash src="images/splash.png" gap:platform="android" gap:density="hdpi" />
	<gap:splash src="images/splash.png" gap:platform="android" gap:density="xhdpi" />
  
<access uri="*" subdomains="true"/>

 
  <rim:permissions>
  <rim:permit>access_shared</rim:permit>
  </rim:permissions>

</widget>